body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:407px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:39px;
  width:380px;
  height:800px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:570px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:157px;
  width:319px;
  height:570px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:277px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:185px;
  width:52px;
  height:17px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:185px;
  width:57px;
  height:16px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:299px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:371px;
  width:301px;
  height:299px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:62px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:384px;
  width:76px;
  height:62px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:62px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:384px;
  width:84px;
  height:62px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:70px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:474px;
  width:76px;
  height:70px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:70px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:474px;
  width:84px;
  height:70px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:70px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:474px;
  width:71px;
  height:70px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:62px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:384px;
  width:78px;
  height:62px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:67px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:569px;
  width:76px;
  height:67px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:67px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:569px;
  width:84px;
  height:67px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#999999;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:561px;
  width:43px;
  height:82px;
  font-size:72px;
  color:#999999;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:680px;
  width:50px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:680px;
  width:59px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:570px;
  width:79px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:568px;
  width:88px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
