body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:407px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:39px;
  width:380px;
  height:800px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:157px;
  width:320px;
  height:568px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:153px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:572px;
  width:320px;
  height:153px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:68px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
