body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:407px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:39px;
  width:380px;
  height:800px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:573px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:156px;
  width:322px;
  height:573px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:480px;
  width:59px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
