body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:407px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:39px;
  width:380px;
  height:800px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:572px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:156px;
  width:321px;
  height:572px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:478px;
  width:40px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u78 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:478px;
  width:30px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
